.noticias-container {
    display: flex;
    flex-wrap: nowrap; /* Mantener las tarjetas en una sola fila */
    gap: 20px;
    padding: 20px;
    padding-left: 1900px; /* Ajuste según sea necesario */
    overflow-x: auto; /* Mantener el scroll horizontal */
    scroll-snap-type: x mandatory; /* Activar el "snap" al deslizar */
    cursor: grab; /* Mostrar icono de mano para arrastrar */
}

.noticias-container:active {
    cursor: grabbing; /* Cambiar icono al arrastrar */
}

.noticia-card {
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: white;
    flex-shrink: 0; /* Evitar que las tarjetas se reduzcan */
    scroll-snap-align: start; /* Alinear las tarjetas al inicio del scroll */
}

.noticia-card:hover {
    transform: scale(1.05); /* Zoom al pasar el mouse */
}

.noticia-imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.noticia-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.noticia-descripcion {
    font-size: 1rem;
    color: #333;
}

