.noticia-container {
    max-width: 1200px; /* Aumentamos el ancho máximo */
    margin: 20px auto; /* Añadimos un poco de margen */
    padding: 40px;
    font-family: Arial, sans-serif;
}

.noticia-header {
    text-align: left; /* Alineamos el texto a la izquierda */
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: 3px solid #ddd;
}

.noticia-header h1 {
    margin: 0;
    font-size: 32px; /* Aumentamos el tamaño del encabezado */
    font-weight: bold;
}

.noticia-imagen img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.noticia-introduccion {
    margin-top: 20px;
    font-size: 22px; /* Aumentamos el tamaño de la fuente para la introducción */
    font-weight: bold; /* Hacemos que la introducción esté en negrita */
    color: #333;
    line-height: 1.8;
}

.noticia-contenido {
    margin-top: 30px;
    font-size: 16px; /* Reducimos el tamaño de la fuente para el contenido de la noticia */
    font-weight: normal; /* Aseguramos que el contenido no esté en negrita */
    line-height: 1.6;
    color: #555;
}

.noticia-contenido p {
    margin-bottom: 20px;
}


.sidebar {
    float: right;
    width: 30%; /* Sidebar ocupará el 30% del ancho */
    padding-left: 20px;
    font-size: 16px;
    color: #444;
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.main-content {
    float: left;
    width: 65%; /* El contenido principal ocupará el 65% del ancho */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
